{% extends 'base.html.twig' %}

{% block body %}
    <h1>Delete Item?</h1>
    {{ form_start(item_delete_form) }}
    {{ form_widget(item_delete_form) }}
    <button class="btn btn-danger" type="submit">Delete</button>
    {{ form_end(item_delete_form) }}
{% endblock %}

