{% extends 'base.html.twig' %}

{% block body %}
    <h1>Edit Item?</h1>
    {{ form_start(item_edit_form) }}
    {{ form_widget(item_edit_form) }}
    <button class="btn btn-warning" type="submit">Edit</button>
    {{ form_end(item_edit_form) }}
{% endblock %}

