{% extends 'base.html.twig' %}

{% block body %}
<h1>About Page:</h1>
    <p>Basic online store based on Symfony3 PHP Framework.</p>
    <p>Made for <a href="https://softuni.bg/trainings/1583/php-mvc-frameworks-march-2017">https://softuni.bg/trainings/1583/php-mvc-frameworks-march-2017</a> </p>
{% endblock %}

