{% extends 'base.html.twig' %}
{% block body %}
    <div class="container center-block">
    {{ form_start(profile_form, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_widget(profile_form) }}
    <button type="submit">Update profile</button>
    {{ form_end(profile_form) }}
    <div>
{% endblock %}