{% extends '/administration/administration_base.html.twig' %}

{% block body %}
    <div id="wrapper" class="toggled">
        <div id="page-content-wrapper">
            <div class="row">
                <div class="col-lg-1">
                    <div class="container text-center">
                        <h1>Delete Item?</h1>
                        {{ form_start(item_delete_form) }}
                        {{ form_widget(item_delete_form) }}
                        <button class="btn btn-danger" type="submit">Delete</button>
                        {{ form_end(item_delete_form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

