{% extends '/administration/administration_base.html.twig' %}

{% block body %}
    <div id="wrapper" class="toggled">
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="container center-block">
                            <div class="form-group">
                                {{ form_start(item_form) }}
                                {{ form_widget(item_form) }}
                                <button class="btn btn-primary" type="submit">Add item</button>
                                {{ form_end(item_form) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

