{% extends 'base.html.twig' %}

{% block body %}
    <div class="container center-block text-center">
        <h1>My items on the market:</h1>
        {% if items|length > 0 %}
            <table class="table table-hover">
                <thead>
                <tr>
                    <th class="text-center">Name</th>
                    <th class="text-center">Price</th>
                    <th class="text-center">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for item in items %}
                    <tr>
                        <td style="font-size: x-large">
                            {{ item.name }}
                        </td>
                        <td>
                            {{ item.price }}
                        </td>
                        <td>
                            <a href="{{ path('market_item_view', {'id': item.id }) }}">
                                <button class="btn btn-primary">View</button>
                            </a>
                            <a href="{{ path('market_my_item_remove', {'id': item.id }) }}">
                                <button class="btn btn-danger">Remove</button>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <h1>You have no items on the market</h1>
        {% endif %}
    </div>
{% endblock %}

