{% extends 'base.html.twig' %}
{% block body %}
    <h1>Login page</h1>
    <form name="authenticate" action="{{ path('security_login') }}" method="post">
        Username: <input type="text" name="_username"><br>
        Password: <input type="password" name="_password"><br>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/><br>
        <input type="submit" value="Login"><br>
    </form>
{% endblock %}